{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Faciliteiten</title>
    <link rel="stylesheet" href="{% static 'css/boer/customer_general/faciliteiten.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap">
</head>
<body>
    {% include 'boer/overlays/navbar.html' %}
    <div class="box-container" >
        <!-- Row 1 -->
        <div class="box">
          <img src="{% static 'img/boer/customer_general/index/barbeque.jpg' %}" alt="Image 1">
          <div class="alle-tekst">
            <p class="titel">Barbeque</p>
            <p class="textbox">Bij Camping De Groene Weide beleef je een onvergetelijke barbecue-ervaring. Onder het bladerdak van de natuur geniet je met vrienden en familie van heerlijk gegrilde lekkernijen. De camping biedt speciale barbecueplekken met picknicktafels voor ultiem comfort. Breng je eigen barbecuegereedschap mee en ontdek de smaak van lokale specialiteiten. Kortom, een gezellige en smaakvolle avond te midden van de groene pracht van De Groene Weide.</p>
          </div>
        </div>
    
        <div class="box">
          <img src="{% static 'img/boer/customer_general/index/film.jpg' %}" alt="Image 2">
          <div class="alle-tekst">
            <p class="titel">Films</p>
            <p class="textbox"> Bij Camping De Groene Weide organiseren we regelmatig gezellige filmavonden onder de sterrenhemel. Neem je eigen dekens en snacks mee, nestel je op het gras en geniet van een sfeervolle openluchtbioscoopervaring. Of je nu houdt van avontuur, romantiek of komedie, de camping biedt een diverse selectie films voor iedereen. Laat je meevoeren door de magie van het witte doek en de rustgevende omgeving voor een onvergetelijke filmavond onder de sterren. </p>
          </div>
        </div>
    
        <div class="box">
          <img src="{% static 'img/boer/customer_general/index/kindern.jpg' %}" alt="Image 3">
          <div class="alle-tekst">
            <p class="titel">Activiteiten</p>
            <p class="textbox">Camping De Groene Weide is ideaal voor gezinnen met ruime speelgelegenheden en avontuurlijke speeltuinen. Kinderactiviteiten, zoals knutselworkshops en spelletjesmiddagen, zorgen voor plezier en educatie. De kindvriendelijke omgeving biedt een veilige en gezellige sfeer voor nieuwe vriendschappen. Aangepaste sanitaire voorzieningen zorgen voor comfort, waardoor dagelijkse routines soepel verlopen. Of het nu marshmallows roosteren bij het kampvuur is of samen genieten van een kinderfilmavond, op Camping De Groene Weide staat de vreugde van kinderen centraal.</p>
          </div>
        </div>
    
        <!-- Row 2 -->
        <div class="box">
          <img src="{% static 'img/boer/customer_general/index/film.jpg' %}" alt="Image 4">
          <div class="alle-tekst">
            <p class="titel">Wandelingen en Natuurverkenning</p>
            <p class="textbox">Ontdek de verborgen parels van de omgeving rondom Camping De Groene Weide terwijl je langs rustige wandelpaden wandelt, omringd door weelderige bossen en kabbelende beekjes. Adem de frisse lucht in terwijl je geniet van de rustgevende geluiden van de natuur en ontdek nieuwe vergezichten op elke bocht van het pad.</p>
          </div>
        </div>
    
        <div class="box">
          <img src="{% static 'img/boer/customer_general/index/barbeque.jpg' %}" alt="Image 5">
          <div class="alle-tekst">
            <p class="titel">Themafeesten en Evenementen</p>
            <p class="textbox"> Laat je verrassen door de bruisende sfeer tijdens de themafeesten op Camping De Groene Weide. Of het nu gaat om een traditioneel lokaal festival, een gezellige BBQ-avond of een muziekfestival onder de sterren, deze evenementen bieden een levendige gelegenheid om samen met medekampeerders te genieten van bijzondere momenten en lokale lekkernijen.</p>
          </div>
        </div>
    
        <div class="box">
          <img src="{% static 'img/boer/customer_general/index/kindern.jpg' %}" alt="Image 6">
          <div class="alle-tekst">
            <p class="titel">Kampvuuravonden</p>
            <p class="textbox">Laat de avond gloeien met betoverende kampvuuravonden op Camping De Groene Weide. Verzamel rond het knisperende vuur, voel de warmte op je gezicht en deel verhalen met nieuwe vrienden. Het knetterende hout en de fonkelende sterrenhemel creëren een magische ambiance waarin vriendschappen worden gesmeed en herinneringen worden gemaakt die een leven lang meegaan.</p>
          </div>
        </div>
      </div>

    {% include 'boer/overlays/footer.html' %}
</body>
</html>
