{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nieuws</title>

    <link rel="stylesheet" href="{% static 'css/boer/customer_general/nieuws.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap">
</head>
<body>
    {% include 'boer/overlays/navbar.html' %}
    <script src="{% static 'js/boer/booking/weer.js' %}"></script>
    <div id="weer"></div>
    <div class="box-container">
        <div class="box">
          <img src="{% static 'img/boer/customer_general/nieuws/camping-attractiepark-1.jpg' %}" alt="Image 1">
          <div class="text-box">
            <p class= "datum">8-12-2067</p>
            <p class="titel">Camping De Groene Weide wordt Interdimensionaal Portaal: Tijdreizen en Parallelle Realiteiten voor Kampeerders!</p>
            <p class="textbox">Een surrealistische wending op Camping De Groene Weide, want het wordt omgetoverd tot een interdimensionaal portaal. Kampeerders kunnen nu tijdreizen, zichzelf ontmoeten in parallelle realiteiten en zelfs deelnemen aan buitenaardse kooklessen. Een kampeerervaring zoals je die nog nooit hebt gehad!</p>
          </div>
        </div>
    
        <div class="box">
          <img src="{% static 'img/boer/customer_general/nieuws/e-bike-camping-2.jpg' %}" alt="Image 2">
          <div class="text-box">
            <p class= "datum">23-1-2024</p>
            <p class="titel">De Groene Weide's Magische Moestuin: Groeiende Pizza's en Zwevende Milkshakes</p>
            <p class="textbox">Kampeerders op Camping De Groene Weide ontdekken een magische moestuin waar groenten en fruit groeien in de vorm van pizza's en zwevende milkshakes. Het wordt een culinair spektakel waar kampeerders hun eigen smakelijke creaties kunnen plukken en bereiden.</p>
          </div>
        </div>
    
        <div class="box">
          <img src="{% static 'img/boer/customer_general/nieuws/camping-diana-heide-9.jpg' %}" alt="Image 3">
          <div class="text-box">
            <p class= "datum">15-7-2026</p>
            <p class="titel">Camping De Groene Weide's Gekke Wetenschapsexperiment: Kamperen met Gespreksdieren</p>
            <p class="textbox">Een lachwekkend experiment komt tot leven op Camping De Groene Weide, waar kampeerders de mogelijkheid hebben om te kamperen met gespreksdieren. Van filosofische eekhoorns tot sarcastische kikkers, het wordt een absurd kampeeravontuur vol dierlijk vermaak.</p>
          </div>
        </div>
    
        <div class="box">
          <img src="{% static 'img/boer/customer_general/nieuws/herfst-bestemming-auto.jpg' %}" alt="Image 4">
          <div class="alle-tekst">
            <p class= "datum">19-6-2506</p>
            <p class="titel">Aliens op Camping De Groene Weide: Intergalactisch Watergevecht en Dansende Graspolen!</p>
            <p class="textbox">Buitenaardse wezens landen op Camping De Groene Weide en nodigen kampeerders uit voor een intergalactisch watergevecht. De weide komt tot leven met dansende graspolen en kosmische muziek, waardoor kampeerders zich in een buitenaards feestje bevinden.</p>
          </div>
        </div>
    
        <div class="box">
          <img src="{% static 'img/boer/customer_general/nieuws/weekendje-weg-camping-2.jpg' %}" alt="Image 5">
          <div class="text-box">
            <p class= "datum">1-2-2024</p>
            <p class="titel">Camping De Groene Weide's 'Wandelende' Tenten: Kamperen met Pootjes</p>
            <p class="textbox">Een absurde revolutie op Camping De Groene Weide, want de tenten krijgen plotseling pootjes en beginnen rond te wandelen. Kampeerders worden uitgedaagd om hun tenten te trainen en mee te nemen op avontuurlijke tochten over de weide, wat zorgt voor een bizar en hilarisch schouwspel.</p>
          </div>
        </div>
    
        <div class="box">
          <img src="{% static 'img/boer/customer_general/nieuws/windgoo-e20-3.jpg' %}" alt="Image 6">
          <div class="text-box">
            <p class= "datum">21-8-2024</p>
            <p class="titel">Camping De Groene Weide's Geheime Onderwater Disco: Dansen met Zeemeerminnen en Dansende Dolfijnen!</p>
            <p class="textbox">Onder de weide blijkt een geheime onderwater disco te schuilen. Kampeerders kunnen nu afdalen naar een betoverende onderwaterwereld en dansen met zeemeerminnen terwijl dansende dolfijnen de beat bepalen. Het wordt een feestelijke duik in het onverwachte!</p>
          </div>
        </div>
      </div>


    {% include 'boer/overlays/footer.html' %}
</body>
</html>
