body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#weer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.date-container {
    display: flex;
    align-items: center;
}

.icon {
    width: 50px;
    /* Adjust the width as needed */
    height: auto;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.temp,
.feelsLike,
humidity,
.wind {
    margin-left: 10px;
    /* Adjust the margin as needed */
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-top: 300px;
}

.box {
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(248, 247, 247);
    border-radius: 5px;
    padding: 30px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.alle-tekst {
    margin-top: 10px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.datum {
    font-size: 12px;
    color: #1DA1F2;
    text-align: left;
}

.titel {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.temp {
    font-size: 12px;
    color: #1DA1F2;
    text-align: left;
}

.humidity {
    font-size: 12px;
    color: #1DA1F2;
    text-align: left;
}

.wind {
    font-size: 12px;
    color: #1DA1F2;
    text-align: left;
}

.feelsLike {
    font-size: 12px;
    color: #1DA1F2;
    text-align: left;
}

.icon {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-right: 10px;
}

.date {
    font-size: 12px;
    color: #1DA1F2;
    text-align: left;
}