{% load static %}

<link rel="stylesheet" href="{% static 'nav_styles.css' %}">
<nav>
    <a href="/index.html"><img src="/templates\navbar\icon.svg" alt="Icon" style="width:64px;height:64px"></a>

    <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
        <li>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
            <a href="/nieuws.html">Nieuws</a>
        </li>
        <li>
            <a href="{% url 'booking_form' %}">Boeking</a>
        </li>
        <li>
            <a href="/faciliteiten.html">Faciliteiten</a>
        </li>
        <li>
            <a href="/contact.html">Contact</a>
        </li>
    </ul>
</nav>