{% load static %}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static '/css/boer/overlays/footer.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap">


<div class="footer">
  <a href="{% url 'index' %}"><img src="{% static 'img/boer/overlays/logo_naturetech.png' %}" alt="Icon" style="width: 200px; height: 100%; object-fit: contain;"></a>
  <div class="footer-item">
    <h2><a href="{% url 'contact' %}"  style="color: white; text-decoration: none;">Contact</a></h2>
    <div class="footer-content">
      <div>Vijverlaan 1, 3737 RE Groenekan</div>
      <br />
      <div>(850) 2 18 111/999</div>
      <br />
      <div>butrosgroot@gmail.com</div>
    </div>
  </div>

  <div class="footer-item">
    <h2> <a href="{% url 'faciliteiten' %}"  style="color: white; text-decoration: none;">Faciliteiten</a></h2>
    <div class="footer-content">
    </div>
  </div>

  <div class="footer-item">
    <h2> <a href="{% url 'booking_index' %}"  style="color: white; text-decoration: none;">Boeking</a></h2>
    <div class="footer-content">
    </div>
  </div>

  <div class="footer-item">
    <h2> <a href="{% url 'nieuws' %}"  style="color: white; text-decoration: none;">Nieuws</a></h2>
    <div class="footer-content">
    </div>
  </div>
</div>
