{% load static %}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static '/css/overlays/footer.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap">

<div class="footer">
  <div class="footer-item">
    <h2>Contact</h2>
    <div class="footer-content">
      <div>Address</div>
      <br />
      <div>Telefoonnumer</div>
      <br />
      <div>E-mail</div>
      <br />
      <div>Row 4</div>
      <br />
      <div>Row 5</div>
    </div>
  </div>

  <div class="footer-item">
    <h2>Faciliteiten</h2>
    <div class="footer-content">
      <div>Row 1</div>
      <div>Row 2</div>
      <div>Row 3</div>
      <div>Row 4</div>
      <div>Row 5</div>
    </div>
  </div>

  <div class="footer-item">
    <h2>Boeking</h2>
    <div class="footer-content">
      <div>Row 1</div>
      <div>Row 2</div>
      <div>Row 3</div>
      <div>Row 4</div>
      <div>Row 5</div>
    </div>
  </div>

  <div class="footer-item">
    <h2>Nieuws</h2>
    <div class="footer-content">
      <div>Row 1</div>
      <div>Row 2</div>
      <div>Row 3</div>
      <div>Row 4</div>
      <div>Row 5</div>
    </div>
  </div>
</div>
