{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIR</title>
    <link rel="stylesheet" href="{% static 'css/boer/customer_general/contact.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap">
</head>
    <body>
        {% include 'boer-admin/overlays/navbar.html' %}

        <div class="flex flex-col items-center w-full md:w-auto md:min-h-screen min-h-mobile-full mt-16 md:mt-0 md:ml-72">
        {% for pir in pir_states %}
            <div style="display: flex; flex-direction: row; width: 100%;">
                {{ pir.ip_adress }} -
                {{ pir.date }} - Persoon gezien =
                {{ pir.PIR_state }}
            </div>
        {% endfor %}
        </div>
  
        {% include 'boer-admin/overlays/footer.html' %}
    </body>
</html>
