<!DOCTYPE html>
<html>
    <body>
        <form id="BookingForm" action="{% url 'confirm_form' %}" method="post" style="display: flex; flex-direction: column; align-items: center;">
            {% csrf_token %}
            <label for="FirstName">Naam</label>
            <input type="text" id="FirstName" name="FirstName">
            <label for="LastName">Achternaam</label>
            <input type="text" id="LastName" name="LastName">
            <label for="CustomerEmail">Email</label>
            <input type="mail" id="CustomerEmail" name="CustomerEmail">
            <label for="NumberofQuests">Aantal gasten</label>
            <input type="number" id="NumberofGuests" name="NumberofGuests">
            <label for="Start">Start datum</label>
            <input type="date" id="Start" name="StartDate">
            <label for="End">Eind Datum</label>
            <input type="date" id="End" name="EndDate">
            <input type="submit" value="Send" id="button">

        </form>

    </body>
</html>
