<DOCTYPE html>
<html>
    

<p>Geachte {{first_name}} {{last_name}},</p>

<p>Hartelijk dank voor uw reservering bij camping de Groene weide. We zijn verheugd u als onze gewaardeerde gast te mogen verwelkomen op onze sfeervolle camping.</p>

<p>Hier zijn de details van uw boeking:</p>

<p>Naam gast(en): {{first_name}} {{last_name}}</P>
<p>Aankomstdatum: {{date_of_arrival}}</P>
<p>Vertrekdatum: {{date_of_departure}}</P>
<p>Type accommodatie: {{Accomodation}}</P>
<p>Reserveringsnummer: {{order_number}}</P>

<p>Gelieve te controleren of alle gegevens correct zijn. Indien er wijzigingen of onjuistheden zijn, neem dan zo spoedig mogelijk contact met ons op via (850) 2 18 111/999

of butrosgroot@gmail.com.</P>

<p>Inchecken: U kunt inchecken op de dag van aankomst tussen 14:00 en 17:00. Mocht u later arriveren, laat het ons dan weten.</P>

<p>Uitchecken: Op de dag van vertrek verzoeken wij u vriendelijk om uit te checken voor 12:00.</P>

<p>Betaalinformatie: Het totale bedrag van uw verblijf bedraagt {{price}}. Betaling kan contant bij aankomst of via {{method_of_paying}} worden voldaan.</P>
<p>Wij kijken ernaar uit om u een aangenaam verblijf te bieden op Camping de Groene Weide. Mocht u nog vragen of speciale verzoeken hebben, aarzel dan niet om contact met ons op te nemen.</P>

<p>Met vriendelijke groet,</P>

<p>Camping de Groene Weide</P>
<p>Adres: Vijverlaan 1, 3737 RE Groenekan</P>
<p>Telefoon: (850) 2 18 111/999</P>
<p>Email: butrosgroot@gmail.com</P>
<p>Openingstijden: 7:00 tot 22:00 (ma-zo)</P>
<html>