{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/boer-admin/orders/admin_orders.css' %}"
    />
    <title>Boekingen overzicht</title>
  </head>
  <body>
    {% include 'boer-admin/overlays/navbar.html' %}
    <div
      class="flex flex-col justify-between items-center w-full md:w-auto md:h-screen h-mobile-full mt-16 md:mt-0 md:ml-72"
    >
      <table id="booking-table">
        <thead>
          <tr>
            <th data-sort="order_number" data-order="asc">Order Nummer</th>
            <th data-sort="lastname" data-order="asc">Naam</th>
            <th data-sort="start_date" data-order="asc">CheckIn datum</th>
            <th data-sort="end_date" data-order="asc">CheckOut datum</th>
          </tr>
        </thead>
        <tbody id="table_content">
          {% for booking in page_obj %}
          <tr>
            <td>{{ booking.order_number }}</td>
            <td>
              {{ booking.customer.user.first_name }} {{
              booking.customer.user.last_name }}
            </td>
            <td>{{ booking.start_date }}</td>
            <td>{{ booking.end_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination">
        <span class="step-links"
          ><a id="prev" pageNumber="1" class="ajax-link">&larr;</a></span
        >

        <span class="current"
          >{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span
        >

        <span class="step-links"
          ><a id="next" pageNumber="1" class="ajax-link">&rarr;</a></span
        >
      </div>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-left"></div>
            <div class="modal-header-right">
              <span class="edit">&#x2713;</span>
              <span class="close">&#x2715;</span>
            </div>
          </div>
          <div id="modal-content"></div>
        </div>
      </div>
    </div>
  </body>

  <script>
    let prevButton = null;
    let nextButton = null;
    let tableContent = null;
    let csrfToken = "{{ csrf_token }}";

    document.addEventListener("DOMContentLoaded", function () {
      prevButton = document.getElementById("prev");
      nextButton = document.getElementById("next");
      tableContent = document.getElementById("table_content");

      // Call the initial data load with default sorting
      request_data(1);

      setupButtons();
    });

    function setupButtons() {
      setupTableHeaders();
      setupPrevButton();
      setupNextButton();
      modelCloseEvent();
    }

    function setupTableHeaders() {
      const tableHeaders = document.querySelectorAll(
        "#booking-table th[data-sort]"
      );
      tableHeaders.forEach((header) => {
        header.addEventListener("click", function () {
          const currentSortOrder = header.getAttribute("data-order");
          const newSortOrder = currentSortOrder === "asc" ? "desc" : "asc";
          const sortBy = header.getAttribute("data-sort");

          header.setAttribute("data-order", newSortOrder);
          sort_data(sortBy, newSortOrder);
        });
      });
    }

    function setupPrevButton() {
      prevButton.addEventListener("click", function () {
        let pageNumber = parseInt(this.getAttribute("pageNumber"));

        if (pageNumber === 1) {
          this.classList.add("disabled");
        } else {
          nextButton.classList.remove("disabled");

          let prevPageNumber = pageNumber - 1;

          this.setAttribute("pageNumber", prevPageNumber);
          nextButton.setAttribute("pageNumber", prevPageNumber);

          request_data(prevPageNumber);
        }
      });
    }

    function setupNextButton() {
      nextButton.addEventListener("click", function () {
        let pageNumber = parseInt(this.getAttribute("pageNumber"));

        nextButton.classList.remove("disabled");

        let nextPageNumber = pageNumber + 1;

        this.setAttribute("pageNumber", nextPageNumber);
        prevButton.setAttribute("pageNumber", nextPageNumber);

        request_data(nextPageNumber);
      });
    }

    //Function to request data of the modal
    function requestModalData(modalId) {
      const url = "/create_modal/";
      const data = {
        csrfmiddlewaretoken: csrfToken,
        modal_id: modalId,
      };

      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken,
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => fill_modal(data))
        .catch((error) => console.error("Error:", error));
    }

    function request_data(pageNumber) {
      const url = window.location.href;
      const data = {
        csrfmiddlewaretoken: csrfToken,
        page: pageNumber,
      };

      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken,
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => fill_table(data))
        .catch((error) => console.error("Error:", error));
    }

    function sort_data(sortBy, sortOrder) {
      const url = "/sort_bookings/";
      const data = {
        csrfmiddlewaretoken: csrfToken,
        sort_by: sortBy,
        order: sortOrder,
      };

      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken,
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => fill_table(data))
        .catch((error) => console.error("Error:", error));
    }

    function fill_table(datas) {
      // Clear the table
      tableContent.innerHTML = "";

      // Loop through the data
      for (const field of datas) {
        // Create a new row
        let row = document.createElement("tr");

        // Create the columns
        let checkInDate = document.createElement("td");
        let orderNumber = document.createElement("td");
        let name = document.createElement("td");
        let checkOutDate = document.createElement("td");

        // Set the text of the columns
        orderNumber.innerText = field.order_number;
        name.innerText = field.firstname + " " + field.lastname;
        checkInDate.innerText = field.start_date;
        checkOutDate.innerText = field.end_date;

        // Append the columns to the row
        row.appendChild(orderNumber);
        row.appendChild(name);
        row.appendChild(checkInDate);
        row.appendChild(checkOutDate);

        addRowClickEvents(row, field);

        // Append the row to the table
        tableContent.appendChild(row);
      }
    }

    function addRowClickEvents(row, field) {
      row.addEventListener("click", function () {
        openModal(field);
      });
    }

    function openModal(booking) {
      const modalContent = document.getElementById("modal-content");
      modalContent.innerHTML = `
          <div class="modal-body">
            <div class="modal-body-left">
                <h2>Contactgegevens</h2>
                <form>
                <span><label for="Name">Naam:</label> <input type="text" name="Name" value="${booking.firstname} ${booking.lastname}"></span>
                <span><label for="Email">Email:</label> <input type="text" name="Email" value="${booking.email}"></span>
                <span><label for="Phonenumber">Telefoonnummer:</label> <input type="text" name="Phonenumber" value="${booking.phone_number}"></span>
                <h2>Adres</h2>
                <span><label for="Adress">Straat en huisnummer:</label> <input type="text" name="Adress" value="${booking.street} ${booking.house_number}"></span>
                <span><label for="Postalcode">Postcode:</label> <input type="text" name="Postalcode" value="${booking.postal_code}"></span>
                <span><label for="City">Stad:</label> <input type="text" name="City" value="${booking.city}"></span>
                </form>
                </div>
            <div class="modal-body-right">
                <h2> Boeking details</h2>
                <form>
                <span><label for="Checkin">Checkin datum:</label> <input type="date" name="Checkin" value="${booking.start_date}"></span>
                <span><label for="Checkout">Checkout datum:</label> <input type="date" name="Checkout" value="${booking.end_date}"></span>
                <span><label for="Adults">Aantal volwassenen:</label> <input type="number" name="Adults" value="${booking.age_above}"></span>
                <span><label for="Children">Aantal kinderen:</label> <input type="number" name="Children" value="${booking.age_below}"></span>
                <span><label for="Spot">Plek:</label> <input type="text" name="Spot" value="${booking.Campingspot}"></span>
                </form>
                </div>
            </div>
            <div class="modal-notes">
    <h2>Opmerkingen</h2>
                <form>
                <span><label for="Notes">Opmerkingen van klant:</label> <input type="textarea" name="Notes" value="${booking.notes}"></span>
                <span><label for="Notes">Opmerkingen van personeel:</label> <input type="textarea" name="Notes" value="${booking.admin_notes}"></span>
                </form>
            </div>
    			`;

      const modalHeaderContent = document.querySelector(".modal-header-left");
      modalHeaderContent.innerHTML = `
          <h2>Boeking ${booking.id}</h2>
          `;

      const modal = document.getElementById("myModal");
      modal.style.display = "block";
    }

    //close modal when clicking anywhere outside modal
    function modelCloseEvent() {
      const modalClose = document.querySelector(".close");
      modalClose.addEventListener("click", function () {
        closeModal();
      });

      window.onclick = function (event) {
        const modal = document.getElementById("myModal");
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    }

    function closeModal() {
      const modal = document.getElementById("myModal");
      modal.style.display = "none";
    }

    function modalSaveEvent() {
      const modalSave = document.querySelector(".edit");
      modalSave.addEventListener("click", function () {
        const modalData = {
          firstname: document.querySelector("input[name='Name']").value,
          lastname: document.querySelector("input[name='Name']").value,
          email: document.querySelector("input[name='Email']").value,
          phone_number: document.querySelector("input[name='Phonenumber']")
            .value,
          street: document.querySelector("input[name='Adress']").value,
          house_number: document.querySelector("input[name='Adress']").value,
          postal_code: document.querySelector("input[name='Postalcode']").value,
          city: document.querySelector("input[name='City']").value,
          start_date: document.querySelector("input[name='Checkin']").value,
          end_date: document.querySelector("input[name='Checkout']").value,
          age_above: document.querySelector("input[name='Adults']").value,
          age_below: document.querySelector("input[name='Children']").value,
          Campingspot: document.querySelector("input[name='Spot']").value,
          notes: document.querySelector("input[name='Notes']").value,
          admin_notes: document.querySelector("input[name='Notes']").value,
        };
        saveModalData(modalData);
      });
    }

    //Send data to backend to save
    function saveModalData(modalData) {
      const url = "/save_modal/";
      const data = {
        csrfmiddlewaretoken: csrfToken,
        modal_data: modalData,
      };

      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken,
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => console.log(data))
        .catch((error) => console.error("Error:", error));
    }
  </script>
</html>
