{% load static %}
<link rel="stylesheet" href="{% static 'css/boer-admin/orders/admin_orders.css' %}">
<body>
    <table>
        <thead> 
            <tr>
                <th>Order Nummer</th>
                <th>Naam</th>
                <th>CheckIn datum</th>
                <th>CheckOut datum</th>
                <th>Kinderen</th>
                <th>Volwasssenen</th>
                <th>PDF</th>
                <th>Ingecheckt</th>
                <th>Betaald</th>
                <th>Telefoon nummer</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in page_obj %}
                <tr>
                    <td>{{ booking.order_number }}</td>
                    <td>{{ booking.customer.user.first_name}}  {{ booking.customer.user.last_name}}</td>
                    <td>{{ booking.start_date }}</td>
                    <td>{{ booking.end_date }}</td>
                    <td>{{ booking.age_below }}</td>
                    <td>{{ booking.age_above }}</td>
                    <td>{{ booking.pdf }}</td>
                    <td>{{ booking.checked_in }}</td>
                    <td>{{ booking.paid }}</td>
                    <td>{{ booking.customer.phone_number }}</td>
                    <td>{{ booking.customer.user.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th><span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">Vorige</a>
                        {% endif %}</th>
                
                        <th><span class="current">
                             {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                        </span></th>
                
                        <th>{% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Volgende</a>
                            
                        {% endif %}
                    </span></th>
                </div>
            </tr>
        </tfoot>
    </table>

</body>
</html>
