{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/boer-admin/orders/admin_orders.css' %}"/>
    <!-- <link rel="stylesheet" href="{% static 'css\boer-admin\detection\usage_detection.css' %}"/> -->
    <title>Usage Data</title>
    <style>
        /* Add your CSS styles here */
         
    </style>
</head>
<body>
    {% include 'boer-admin/overlays/navbar.html' %}
    <div style="margin-left: 288px;">
        <table>
            <thead>
                <tr>
                    <th>Local IP</th>
                    <th>Hostname</th>
                    <th>Beweging gezien</th>
                    <th>Apparaten aanwezig</th>
                    <th>Deur open</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.ip_adress }}</td>
                        <td>{{ item.hostname }}</td>
                        <td>{{ item.PIR_state }}</td>
                        <td>{{ item.BLE_count }}</td>
                        <td>{{ item.state }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <canvas id="chart3Hours"></canvas>
            <canvas id="chart24Hours"></canvas>
        </div>
    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
window.onload = function () {
    setupRowClickEvents();
    setupModalCloseEvent();
    setupWindowClickEvent();
};

function setupWindowClickEvent() {
  window.onclick = function(event) {
    const modal = document.getElementById("myModal");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
}

function setupRowClickEvents() {
    const tableRows = document.querySelectorAll("tbody tr");
    tableRows.forEach((row) => {
    row.addEventListener("click", function () {
        // Open the modal and populate it with data from the clicked row
        const modal = document.getElementById("myModal");
        modal.style.display = "block";
        modal.querySelector(".modal-content p").textContent = this.textContent;
    });
    });
}
    
function setupModalCloseEvent() {
    const modal = document.getElementById("myModal");
    const span = modal.querySelector(".close");
    span.onclick = function() {
    modal.style.display = "none";
    }
}
function updateCharts(ip_address) {
    fetch(`/api/get_ble_data/${ip_address}`)
        .then(response => response.json())
        .then(data => {
            // Update the data for the 3 hours chart
            chart3Hours.data.datasets[0].data = data.data_3_hours;
            chart3Hours.update();  // Update the chart

            // Update the data for the 24 hours chart
            chart24Hours.data.datasets[0].data = data.data_24_hours;
            chart24Hours.update();  // Update the chart
        });
}

document.querySelectorAll('table tr').forEach(row => {
    row.addEventListener('click', function() {
        // Get IP address from clicked row. Adjust this line to match your table structure.
        const ip_address = this.cells[0].innerText;
        updateCharts(ip_address);

        // Use IP address in fetch request
        fetch(`/api/get_ble_data/${ip_address}`)
            .then(response => response.json())
            .then(data => {
                console.log(data.data_3_hours);
                console.log(data.data_24_hours);
                createCharts(data.data_3_hours, data.data_24_hours);
            });
    });
});

var chart3Hours;  // declare at top level
var chart24Hours;  // declare at top level

function createCharts(data_3_hours, data_24_hours) {
    // ... your chart creation code here ...
    // destroy the previous chart if it exists
    if (chart3Hours) {
        chart3Hours.destroy();
    }
    var ctx3Hours = document.getElementById('chart3Hours').getContext('2d');
    chart3Hours = new Chart(ctx3Hours, {
        type: 'line',
        data: {
            datasets: [{
                label: 'BLE_count',
                data: data_3_hours,
                pointRadius: 0,  // This will hide the data points
            }]
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'minute',
                        min: moment().subtract(3, 'hours').toISOString(),
                        max: moment().toISOString()
                    }
                }
            }
        }
    });

       // destroy the previous chart if it exists
    if (chart24Hours) {
        chart24Hours.destroy();
    }
    var ctx24Hours = document.getElementById('chart24Hours').getContext('2d');
    chart24Hours = new Chart(ctx24Hours, {
        type: 'line',
        data: {
            datasets: [{
                label: 'BLE_count',
                data: data_24_hours,
                pointRadius: 0,  // This will hide the data points
            }]
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'minute',
                        min: moment().subtract(24, 'hours').toISOString(),
                        max: moment().toISOString()
                    }
                }
            }
        }
    });
}
    </script>
</html>