{% load static %}

<header class="w-64 h-screen fixed z-10 bg-">
    <nav class="flex flex-col items-center py-8 bg-white h-full">
        <a href="" class="mb-10">
            <img src="{% static 'img/overlays/icon.svg' %}" alt="Icon" class="w-14 h-auto">
        </a>

        <ul id="primary-navigation" class="space-y-5">
            <li>
                <a href="/nieuws.html" class="text-gray-700 hover:text-gray-900">Nieuws</a>
            </li>
            <li>
                <a href="" class="text-gray-700 hover:text-gray-900">Boeking</a>
            </li>
            <li>
                <a href="/faciliteiten.html" class="text-gray-700 hover:text-gray-900">Faciliteiten</a>
            </li>
            <li>
                <a href="" class="text-gray-700 hover:text-gray-900">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<script>
    // check what page you are on and set the active class to the correct nav item
    var url = window.location.pathname;
    var navItems = Array.from(document.querySelectorAll("#primary-navigation a"));
    for (const element of navItems) {
        if (element.getAttribute("href") === url) {
            element.classList.add("active");
        }
    }
</script>