{% load static %}

<link rel="stylesheet" href="{% static 'css/booking/form.css' %}">
<form id="BookingForm" action="" method="post" style="display: flex; flex-direction: column; align-items: center; width: 100%; box-shadow: 0 0 10px rgba(0,0,0,0.1); border-radius: 4px; position: relative;">
    <header style="height: 48px; width: calc(100% - 48px); justify-content: flex-start; align-items: center; padding: 0 24px; border-radius: 4px 4px 0 0; position: static; z-index: 1; transition: 0.5s ease;">
        <div class="flex-row" style="justify-content: flex-start">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 25.994 25.994" xml:space="preserve" width="24px" height="24px">
                <g>
                    <g>
                        <path style="fill:#f2f2f2;" d="M21.815,0H4.18C3.707,0,3.326,0.382,3.326,0.853V25.14c0,0.472,0.381,0.854,0.853,0.854h13.083    c0.21,0,0.413-0.077,0.57-0.218l4.55-4.072c0.181-0.162,0.285-0.394,0.285-0.636V0.853C22.667,0.382,22.285,0,21.815,0z     M20.962,20.59h-3.97v3.648l-0.053,0.047H5.033V1.707h15.928V20.59z"/>
                        <path style="fill:#f2f2f2;" d="M14.562,15.173h-4.337c-0.247,0-0.446,0.2-0.446,0.446v4.337c0,0.247,0.199,0.446,0.446,0.446    h4.337c0.246,0,0.446-0.2,0.446-0.446V15.62C15.009,15.374,14.809,15.173,14.562,15.173z M14.118,19.511h-3.446v-3.446h3.446    V19.511z"/>
                        <path style="fill:#f2f2f2;" d="M14.953,8.569V8.537c0-0.218-0.177-0.394-0.394-0.394h-4.33c-0.217,0-0.394,0.176-0.394,0.394    v4.329c0,0.219,0.177,0.395,0.394,0.395h4.331c0.217,0,0.394-0.176,0.394-0.395v-1.543l-0.696,0.696    c-0.026,0.026-0.062,0.039-0.092,0.062v0.393h-3.543V8.93h3.543v0.426L14.953,8.569z"/>
                        <path style="fill:#f2f2f2;" d="M15.764,8.313l-2.196,2.195l-0.84-0.841c-0.227-0.227-0.593-0.227-0.82,0    c-0.227,0.227-0.227,0.594,0,0.819l1.251,1.252c0.113,0.113,0.262,0.17,0.41,0.17c0.149,0,0.298-0.057,0.41-0.17l2.605-2.606    c0.228-0.227,0.228-0.593,0-0.82C16.358,8.086,15.991,8.086,15.764,8.313z"/>
                        <rect x="7.305" y="4.159" style="fill:#f2f2f2;" width="11.385" height="1.189"/>
                    </g>
                </g>
            </svg>
            <p style="font-size: 1.45rem; font-weight: 500; color: #f2f2f2; margin-left: 12px; cursor: default;">Boeker Info</p>
        </div>
        <button id="toggleButton" type="button" class="colapseButton" style="background: transparent; border: none; margin-left: auto; color: #f2f2f2; height: 100%; cursor: pointer;">
            <svg id="rotateButton" class="faq-btn-arrow" id="faq-btn-arrow3" width="30" height="14" viewBox="0 0 15 8" xmlns="http://www.w3.org/2000/svg" fill="#fff" stroke="#fff" stroke-width="0.8" style="transform: rotate(0deg); transition: 0.5s ease;">
                <path fill="#fff" stroke-linecap="round" stroke-linejoin="round" d="M8.00019 6.01218L14.1325 0.755938C14.3421 0.576226 14.6578 0.600507 14.8375 0.81017L15.1629 1.1898C15.3426 1.39946 15.3183 1.71511 15.1087 1.89482L8.32558 7.70888C8.13834 7.86938 7.86204 7.86938 7.67479 7.70888L0.891723 1.89482C0.68206 1.71511 0.657779 1.39946 0.83749 1.1898L1.16289 0.810172C1.3426 0.600509 1.65825 0.576228 1.86791 0.755939L8.00019 6.01218Z"></path>
            </svg>
        </button>
    </header>
    <div id="AnimationContainer" style="overflow: hidden; width: 100%; position: absolute; top: 48px;">
        <div id="bookingFromContainer" class="flex-column" style="width: calc(100% - 48px); padding: 24px; gap: 8px;">
            <div class="flex-row" style="gap: 8px; justify-content: center;">
                <input type="text" id="FirstName" name="FirstName" placeholder="Naam*" style="width: calc(50% - 12px); height: 32px; font-size: 16px;" required>
                <input type="text" id="LastName" name="LastName" placeholder="Achternaam*" style="width: calc(50% - 12px); height: 32px; font-size: 16px;" required>
            </div>
            <input type="mail" id="CustomerEmail" name="CustomerEmail" placeholder="Email*" style="width: calc(100% - 8px); height: 32px; font-size: 16px;" required>
            <input type="tel" id="CustomerPhone" name="CustomerPhone" placeholder="Telefoon nummer*" style="width: calc(100% - 8px); height: 32px; font-size: 16px;" required>

            <div class="flex-row" style="gap: 8px; justify-content: center;">
                <select id="Country" name="Country" style="width: calc(50% - 4px); height: 38px; font-size: 16px;" required>
                    <option value="">Selecteer land van afkomst</option>
                    <option value="Netherlands">Nederland</option>
                    <option value="Belgium">Belgie</option>
                    <option value="Germany">Duitsland</option>
                    <!-- Add more options as needed -->
                </select>
                <input type="text" id="State" name="State" placeholder="Provincie*" style="width: calc(50% - 12px); height: 32px; font-size: 16px;" required>
            </div>

            <div class="flex-row" style="gap: 8px; justify-content: center;">
                <input type="text" id="PostalCode" name="PostalCode" placeholder="Postcode*" style="width: calc(50% - 12px); height: 32px; font-size: 16px;" required>
                <input type="text" id="HouseNumber" name="HouseNumber" placeholder="Huisnummer*" style="width: calc(50% - 12px); height: 32px; font-size: 16px;" required>
            </div>

            <div class="flex-row" style="gap: 8px; justify-content: center;">
                <input type="text" id="City" name="City" placeholder="Stad*" style="width: calc(50% - 12px); height: 32px; font-size: 16px;" required>
                <input type="text" id="Street" name="Street" placeholder="Straat*" style="width: calc(50% - 12px); height: 32px; font-size: 16px;" required>
            </div>
            
            <div id="bookButton" class="flex-center button">Boek</div>
        </div>
    </div>
    <div id="bookingFromContainerPsudo" style="transition: 0.5s ease;"></div>
</form>

<script>
    var BookingForm = document.querySelector('#BookingForm');
    var toggleButton = BookingForm.querySelector('#toggleButton');
    var bookingFromContainer = BookingForm.querySelector('#bookingFromContainer');

    toggleButton.addEventListener('click', function() {
        var rotateButton = BookingForm.querySelector('#rotateButton');
        var header = BookingForm.querySelector('header');
    
        bookingFromContainer.classList.toggle('collapsed');
    
        rotateButton.style.transform = 
            bookingFromContainer.classList.contains('collapsed') ? 'rotate(-90deg)' : 'rotate(0deg)';

        rotateButton.classList.toggle('closed');

        if (bookingFromContainer.classList.contains('collapsed')) {
            bookingFromContainerPsudo.style.height = '0px';

            header.style.borderRadius = '4px 4px 4px 4px';
        } else {
            bookingFromContainerPsudo.style.height = bookingFromContainer.offsetHeight + 'px';

            header.style.borderRadius = '4px 4px 0 0';
        }
    });

    var bookingFromContainerPsudo = BookingForm.querySelector('#bookingFromContainerPsudo');
    
    // get the hight of the BookingFormContainer and give it to the BookingFormContainerPsudo
    bookingFromContainerPsudo.style.height = bookingFromContainer.offsetHeight + 'px';
</script>