<body>
    <h1>Boekingsbevestiging {{order_number}} </h1>

    <p>Er is een plek gereserveerd op de camping</p>
    <p>Hier zijn de details van de boeking:</p>

    <div>
        <ul>
            <li><strong>Naam gast(en):</strong> {{first_name}} {{last_name}}</li>
            <li><strong>Aantal volwassenen:</strong> {{adults}}</li>
            <li><strong>Aantal kinderen:</strong> {{children}}</li>
            <li><strong>Aankomstdatum:</strong> {{date_of_arrival}}</li>
            <li><strong>Vertrekdatum:</strong> {{date_of_departure}}</li>
            <li><strong>Type accommodatie:</strong> {{Accomodation}}</li>
            <li><strong>Reserveringsnummer:</strong> {{order_number}}</li>
        </ul>
    </div>