<DOCTYPE html>
    <html>

    <div>
        <p> Beste heer/mevrouw {{last_name}},</p>
        
        <p> Wij hebben uw vraag ontvangen en geven hier zo spoedig mogelijk antwoord op.</p>

        <p>Met vriendelijke groet,</P>

            <div><p>Camping de Groene Weide</P>
            <p>Adres: Vijverlaan 1, 3737 RE Groenekan</P>
            <p>Telefoon: (850) 2 18 111/999</P>
            <p>Email: butrosgroot@gmail.com</P>
            <p>Openingstijden: 7:00 tot 22:00 (ma-zo)</P></div>
            <html>


