{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>De Groene Weide</title>

        <link rel="stylesheet" href="{% static 'css/customer_general/index.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap">
    </head>
    <body>
        {% include 'overlays/navbar.html' %}

        <div class="image-container">
            <img src="{% static 'img/customer_general/index/wandelbos.jpeg' %}" alt="wandelbos">
            <p class="overlay-text-header">Welkom bij camping De Groene Weide</p>
            <p class="overlay-text">Ontsnap aan de dagelijkse drukte en omarm de rust van de natuur op NatuurCamp De Groene Oase. Onze camping is ontworpen met het hele gezin in gedachten, waar ouders, kinderen en ouderen een gezamenlijke ervaring van ontspanning en plezier kunnen delen.</p>
        </div>

        <div class="box-container">
            <div class="box">
                <img src="{% static 'img/customer_general/index/camper.jpg' %}" alt="Image 1">
                <p class="overlay-text-box">Op De Groene Weide verwelkomen we kampeerders die hun eigen camper willen meebrengen.</p>
            </div>
            <div class="box">
                <img src="{% static 'img/customer_general/index/clamper.jpg' %}" alt="Image 2">
                <p class="overlay-text-box">Welkom bij De Groene Weide, waar we luxe kamperen omarmen te midden van een oase van natuurlijke pracht.</p>
            </div>
            <div class="box">
                <img src="{% static 'img/customer_general/index/tent.jpg' %}" alt="Image 3">
                <p class="overlay-text-box">Bij De Groene Weide nodigen we tentkampeerders uit om de schoonheid van de natuur te omarmen.</p>
            </div>
            <div class="box">
                <img src="{% static 'img/customer_general/index/barbeque.jpg' %}" alt="Image 4">
                <p class="overlay-text-box">Bij De Groene Weide geloven we in de gezelligheid van samen eten en het genot van een heerlijke barbecue te midden van de natuur.</p>
            </div>
            <div class="box">
                <img src="{% static 'img/customer_general/index/kindern.jpg' %}" alt="Image 5">
                <p class="overlay-text-box">Bij De Groene Weide begrijpen we het belang van vrolijkheid en avontuur voor onze jongste kampeerders. </p>
            </div>
            <div class="box">
                <img src="{% static 'img/customer_general/index/film.jpg' %}" alt="Image 6">
                <p class="overlay-text-box">Bij De Groene Weide creëren we een magische sfeer met onze outdoorfilmavonden</p>
            </div>
        </div>

        {% include 'overlays/footer.html' %}
    </body>
</html>
